/* styles.css */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Định dạng cột Kết Quả */
.status {
    font-size: 20px;
    font-weight: bold;
}

.status.red {
    color: red;
}

.status.green {
    color: green;
}

h2 {
    text-align: center;
}